/* General Styles */

* {
	margin: 0;
	padding: 0;
	color: black;
	overflow-x: hidden;
	font-size: 1rem;
}

ul li {
	all: unset;
}

a {
	text-decoration: none;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%; /* Asegura que la navbar se extienda a lo largo de toda la página */
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(255, 255, 255, 0.511);
	-webkit-backdrop-filter: blur(9.5px);
	backdrop-filter: blur(9.5px);
}

nav img {
	width: 5rem;
	margin-left: 2rem;
}

ul {
	list-style: none;
	display: flex;
	margin-right: 2rem;
}

li a {
	text-decoration: none;
	color: black;
	padding: 10px;
	display: block;
}

.toTop {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	text-decoration: none;
	z-index: 2;
	transition: all 0.3s ease-in-out;
}

.toTop button {
	background: rgba(37, 37, 37, 0.153);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.toTop img {
	width: 3rem;
}

.toTop:hover {
	transform: scale(1.1);
}

main {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

#banner {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#hero-video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	opacity: 0.3;
}

.text-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	z-index: 1;
}

.text-content h1 {
	font-size: 5rem;
	margin-bottom: 2rem;
}

.text-content p {
	font-size: 2rem;
}

.container {
	width: 80%;
	margin: auto;
}

#nosotros {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

#nosotros h1 {
	text-align: center;
	font-size: 3rem;
}

#nostros p {
	width: 80%;
	margin: 0 auto;
}

#servicios h1 {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 3rem;
}

#servicios div {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 2rem;
}

#servicios div > div {
	width: 200px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	border-radius: 1.5rem;
}

#servicios div > div img {
	width: 3rem;
}

#servicios div > div h2 {
	font-size: 1.5rem;
	margin: 1rem 0;
}

#servicios div > div p {
	font-size: 1rem;
}

#clientes h1 {
	text-align: center;
	font-size: 3rem;
}

#clientLogos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 2rem;
	margin-bottom: 2rem;
	transition: all 0.3s ease-in-out;
}

#clientLogos img {
	transition: all 0.3s ease-in-out;
}

#clientLogos img:hover {
	transform: scale(1.1);
}

#testimonials {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.testimonial {
	display: flex;
	flex-direction: column;
	background: rgba(122, 122, 122, 0.2);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border-radius: 3rem;
	border: 1px solid rgba(28, 28, 28, 0.18);
}

.card {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.card > p {
	width: 70%;
	padding: 1rem;
	margin: 1rem;
}

.testimonial img {
	width: 10rem;
	margin: 2rem;
	border-radius: 50%;
	border: #faab36 0.2rem solid;
}

.testimonial > p:last-child {
	align-self: self-end;
	text-align: right;
	padding: 2rem;
}

#portfolio h1 {
	text-align: center;
	font-size: 3rem;
}

#portfolio h1 {
	text-align: center;
	font-size: 3rem;
}

#portfolio h3 {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 2rem;
}

div.portfolioImgs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.portfolioImgs img {
	width: 30rem;
	border-radius: 0.4rem;
	transition: all 0.3s ease-in-out;
}

.portfolioImgs img:hover {
	transform: scale(1.1);
}

#contacto h1 {
	text-align: center;
	font-size: 3rem;
}

#contacto {
	background-color: #faab36;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 600px;
	margin: auto;
}

#contacto h1 {
	text-align: center;
	color: #333;
}

#contacto form > div {
	margin-bottom: 15px;
}

#contacto label {
	display: block;
	margin-bottom: 5px;
	color: #666;
}

#contacto input,
#contacto textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#contacto button {
	background-color: #249ea0;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	width: 100%;
}

#contacto button:hover {
	background-color: #005f60;
}

footer {
	background-color: #FAAB36;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 2rem;
	margin-top: 2rem;
}

.footerfrst {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 2rem;
}

footer .copy {
	background-color: #f78104;
	width: 100vw;
	text-align: center;
	padding: 1rem 0;
}

footer .author {
	width: 100vw;
	text-align: center;
	padding: 1rem 0;
	background-color: #fd5901;
}

.footerUL img{
	width: 3rem;
}

/* Mobile Style */
@media only screen and (min-width: 375px) and (max-width: 1038px) {
	.text-content h1 {
		font-size: 3rem;
		margin-bottom: 2rem;
	}

	.text-content p {
		font-size: 1.5rem;
	}

	#clientLogos img {
		width: 90vw;
		max-width: 280px;
	}

	.card {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	div.portfolioImgs {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.portfolioImgs img {
		width: 90vw;
		max-width: 300px;
	}

	#contacto {
		padding: 20px;
	}

	#contacto input,
	#contacto textarea {
		font-size: 16px;
	}

	.testimonial img {
		width: 10rem;
		border-radius: 50%;
		object-fit: cover;
	}

	footer .container {
		flex-direction: column;
	}

	.footerUL {
		display: flex;
		flex-direction: column;
	}
}

/* Galaxy Fold External Display Style */
@media only screen and (min-width: 280px) and (max-width: 374px) {
	.text-content h1 {
		font-size: 3rem;
		margin-bottom: 2rem;
	}

	.text-content p {
		font-size: 1.5rem;
	}

	#clientLogos img {
		width: 50vw;
		max-width: 300px;
	}

	div.portfolioImgs {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.portfolioImgs img {
		width: 50vw;
		max-width: 300px;
	}

	.card {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}

	#contacto {
		padding: 15px;
	}

	#contacto input,
	#contacto textarea {
		font-size: 14px;
	}

	.footerUL {
		display: flex;
		flex-direction: column;
	}
}
